<!-- <div>
  <p>Felipe Massashi</p>
  <p>Developed with: Angular v15</p>
</div> -->
<div class="container-footer">
  <div>
    <h3>felipe massashi</h3>
    <p>&copy; Copyright 2023</p>
    <p>All rights reserved. Powered by the <strong>Rainmaker Platform</strong></p>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/felipe-hashimoto/" target="_blank"><img src="./assets/images/linkedin.png" alt="logo-linkedin" class="container-footer-img fotter1"></a>
    <a href="https://github.com/FelipeMassashi" target="_blank"><img src="./assets/images/GitHub-Mark.png" alt="logo-github" class="container-footer-img fotter2"></a>
    <a href="https://www.instagram.com/felip_mh/" target="_blank"><img src="./assets/images/instagram.png" alt="logo-instagram" class="container-footer-img fotter3"></a>
  </div>
</div>
