ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul li a{
  height: 25rem;
  width: 20rem;
  border: 2px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  transition: all .4s;
}

ul li a:hover{
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.247);
}

li a:hover{
  opacity: 0.9;
  cursor: pointer;
}

.content{
  padding: .5rem 1rem;
  position: relative;
}

.favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not{
  color: grey;
}

.starts{
  margin-bottom: .2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: .7rem;
  color: grey;
  margin-right: .3rem;
  padding: .1rem .5rem;
}

.cook-time{
  color: grey;
  font-size: .8rem;
  flex: 3;
  text-align: right;
}

.price{
  color: #414141;
  margin-top: .7rem;
}
